{{define "lenja"}}
<!-- Jquery Core Js -->
<script src="../static/js/jquery.min.js"></script>

<!-- Bootstrap Core Js -->
<script src="../static/js/bootstrap.min.js"></script>

<!-- Waves Effect Plugin Js -->
<script src="../static/js/waves.min.js"></script>

<!-- Validation Plugin Js -->
<script src="../static/js/jquery.validate.js"></script>

<!-- Custom Js -->
<script src="../static/js/admin.js"></script>
<script src="../static/js/sign-in.js"></script>
</body>

{{ end }}